.cardItem{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 21rem;
    padding: 18px;
    margin: 12px;
    border-radius: 58px;
    box-shadow: 8px -8px 8px white;
    height: 550px;
}

.itemNombre{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.itemImg{
    height: 280px;
    width: 100%;
    border-radius: 100px
}

.info{
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.itemFooter{
    text-align: center;
    display: flex;
    justify-content: center;
    width: auto;
    
}

.option{
    text-decoration: none;
    color: black;
    height: 20px;
    width: 100px;
    letter-spacing: 0.5px;
    background-color: #ffc107;
    border: none;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.option:hover{
    background-color: wheat;
}